{% extends "base.html" %}

{% block main %}
    <h1>Generate and Adjust</h1>

    <form>
        <div class="row">
            <div class="input-field col s6">
                <p class="range-field">
                    <label for="attr-0" class="tooltipped" data-position="right" data-tooltip="I am a tooltip">Dark Hair</label>
                    <input type="range" id="attr-0" min="0" max="100" value="98" step="1"/>
                </p>
            </div>

            <div class="input-field col s6">
                <p class="range-field">
                    <label for="attr-1" class="tooltipped" data-position="right" data-tooltip="I am a tooltip">Wear Glasses</label>
                    <input type="range" id="attr-1" min="0" max="100" value="2" step="1"/>
                </p>
            </div>

            <div class="input-field col s6">
                <p class="range-field">
                    <label for="attr-2" class="tooltipped" data-position="right" data-tooltip="I am a tooltip">Is Male</label>
                    <input type="range" id="attr-2" min="0" max="100" value="2" step="1"/>
                </p>
            </div>
            <div class="input-field col s6">
                <p class="range-field">
                    <label for="attr-3" class="tooltipped" data-position="right" data-tooltip="I am a tooltip">With Beard</label>
                    <input type="range" id="attr-3" min="0" max="100" value="2" step="1"/>
                </p>
            </div>
            <div class="input-field col s6">
                <p class="range-field">
                    <label for="attr-4" class="tooltipped" data-position="right" data-tooltip="I am a tooltip">Light Skin</label>
                    <input type="range" id="attr-4" min="0" max="100" value="50" step="1"/>
                </p>
            </div>
            <div class="input-field col s6">
                <p class="range-field">
                    <label for="attr-5" class="tooltipped" data-position="right" data-tooltip="I am a tooltip">With Lipstick</label>
                    <input type="range" id="attr-5" min="0" max="100" value="2" step="1"/>
                </p>
            </div>
            <div class="input-field col s6">
                <p class="range-field">
                    <label for="attr-6" class="tooltipped" data-position="right" data-tooltip="I am a tooltip">Young</label>
                    <input type="range" id="attr-6" min="0" max="100" value="98" step="1"/>
                </p>
            </div>

            <div class="input-field col s6">
                <input id="i-seed" type="number" max="999999" min="0" class="validate">
                <label for="i-seed">Noise Seed</label>
                <span class="helper-text" data-error="Please input the number between [0,999999]" data-success="OK">
                    The seed for initialize the noise vector. Please input the number between [0,999999].
                    If keep it empty it will be generated randomly.
                </span>
            </div>
        </div>
        <div class="row">
            <div class="switch">
                <label>
                    Disable
                    <input type="checkbox" id="status-adjust-noise">
                    <span class="lever"></span>
                    Enable Adjust the Random Noise
                </label>
            </div>
        </div>
        <div class="row" id="div-adjust-form" hidden>
            <div class="input-field col s6">
                <p class="range-field">
                    <label for="i-rate" class="tooltipped" data-position="right" data-tooltip="I am a tooltip">Adjust Rate</label>
                    <input type="range" id="i-rate" min="0" max="100" value="0" step="1"/>
                </p>
            </div>
            <div class="input-field col s6">
                <input id="i-seed2" type="number" max="999999" min="0" class="validate">
                <label for="i-seed2">AdjustNoise Seed</label>
                <span class="helper-text" data-error="Please input the number between [0,999999]" data-success="OK">
                    The seed for adjust the noise vector. Please input the number between [0,999999].
                    If keep it empty it will be generated randomly.
                </span>
            </div>

        </div>

    </form>
    <button class="btn waves-effect" name="action" id="ix-generate">
        Conditional Generate
        <i class="material-icons right">send</i>
    </button>


    <div class="row" id="card-list">
        <div class="col s4 m3 l2 hide ix-card" id="ix-card-template">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" src=""/>
                    <!--<span class="card-title">Card Title</span>-->
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
                </div>
                <div class="card-content">
                    <p></p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        let close_card = event => {
            for (let item in event.path) {
                if (event.path[item].classList.contains("ix-card")) {
                    let card = event.path[item];
                    card.parentNode.removeChild(card);
                    break;
                }
            }


        };
        document.querySelector('#ix-generate').addEventListener("click", function () {
            let send = {attr: []};

            let seed = document.querySelector("#i-seed").value;
            let seed2 = document.querySelector("#i-seed2").value;
            send.seed = seed === "" ? null : Number(seed);
            send.seed2 = seed2 === "" ? null : Number(seed2);

            send.rate = Number(document.querySelector("#i-rate").value);

            for (let i = 0; i < 7; i++) {
                send.attr.push(Number(document.querySelector("#attr-" + String(i)).value))
            }

            fetch("{{ url_for("api_generate") }}",
                {
                    method: "POST",
                    body: JSON.stringify(send),
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(
                response => {
                    if (response.ok) {
                        return response.json()
                    }
                    M.toast({html: "Error Occurred: " + response.statusText});
                },
                error => {
                    M.toast({html: "Error Occurred: " + error.message});
                }).then(
                data => {
                    let template = document.querySelector('#ix-card-template');
                    let card = template.cloneNode(true);
                    card.removeAttribute("id");
                    card.classList.remove("hide");
                    card.querySelector('img').setAttribute("src", data.image);
                    card.querySelector("p").textContent = "Attributes: " + data.attr.join(", ") + "  Seed: " + data.seed;
                    card.querySelector("a").addEventListener("click", close_card);
                    M.Materialbox.init(card.querySelector('img'));
                    template.parentNode.insertBefore(card, template.parentNode.childNodes[0]);

                }
            )

        });
        document.querySelector('#status-adjust-noise').addEventListener('change', () => {
            let div = document.querySelector('#div-adjust-form');
            div.hidden = !div.hidden;
        });
    </script>


{% endblock %}